<h1> <%= @book.name %></h1>
<p>
  <strong>Author:</strong>
  <%= @book.author %>
 </p>
 <p>
  <strong>Description:</strong>
  <%= simple_format(@book.description) %>
</p>
</p>
  <table border="1" width="500px">
    <tr>
      <th width="150px">Path <th>Date Added
     <%= render @book.path %>
  </table>
</p>


 <% if current_user %>
   <% if current_user.id == @book.user_id%>
    <%= link_to 'New path', new_path_path(id: @book.id) %> |
   <% end %>
   <% if current_user.id == @book.user_id ||  current_user.rank_id == 2 %>
    <%= link_to 'Edit', edit_book_path(@book) %> |
    <%= link_to 'Destroy', book_path(@book),
                    method: :delete, data: { confirm: 'Are you sure?' } %> |
   <% end %>
  <% end %>
<%= link_to 'Home', index_path %>

  <p>
    <h2>Comments</h2>
  <%= render @book.comment %>

 <% if current_user %>
  <h2>Add a comment:</h2>
 <%= render "comments/form" %>
  <% end %>
  </p>