<!DOCTYPE html>
<html>
<head>
  <title>Books</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'jquery', 'application' %>
</head>
<body>

<div class="main">
 <%= link_to 'Home', index_path %> |
 <%= link_to 'Books', books_path %>
  <% if current_user %>
    | <%= link_to 'New book', new_book_path %>
  <% end %>

   ||
  <% if current_user %>
    Hello <b><%= current_user.name %></b>.
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>
  <% end %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

  </div>

</body>
</html>
